.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  .about__img {
    img {
      border-radius: 50%;
      height: 15rem;
    }
  }
  .about__content {
    padding: 0rem 4rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .about {
    text-align: center;
    .about__content {
      padding: 0rem 1rem;
    }
  }
}
