.contact {
  background-color: var(--primary);
  height: 10rem;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black);
  .contact__media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
