.workContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  border: 1px solid var(--white);
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 26rem;
  padding: 1rem;
  max-width: 20rem;
  cursor: pointer;
  .workContainer__img {
    height: 10rem;
    width: auto;
    border-radius: 5%;
  }
}
