@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'aos/dist/aos.css';

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #0f5959, #0a3a40, #042326);
  color: #fff;
  font-family: 'Inter', sans-serif, Arial;
  overflow-x: hidden;
}

:root {
  --primary: #f0c808;
  --white: #ffffff;
  --black: #000000;
}
